@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
body {
    font-family: 'Handlee', cursive;
}
.user_image {
    float: left;
    border: none;
    color: #252222;
    height: 436px;
    padding-right: 0px;
    width: 449px;
    border-radius: 121px;
    margin-right: 101px;
    margin-top: -34px;
    margin-bottom: 26px;
    margin-left: 50px;
    box-shadow: 36px 46px 37px 12px;
    border-top-left-radius: 42px;
    border-bottom-left-radius: 295px;
    transition: box-shadow 3s ease-in-out;
}

.user_image:hover, 
.user_image:focus {
    transition: box-shadow 3s;
    box-shadow: -43px -17px 32px 21px
}



.home_div {

    margin-left: 20px;
    padding-left: 20px;
    padding-top: 29px;
    padding-right: 28px;
    padding-bottom: 153px; 
}

.second_header {
    text-align: center;
    font-size: 39px;
    font-weight: 600;
    margin-right: 0px;
    margin-left: 25px;
    margin-top: 67px;
    margin-bottom: 0px;
    padding-left: 35px;
}

.second_header b:hover, 
.second_header b:focus {
    text-decoration: underline;
}

.second_header_para {
    text-align: center;
    font-size: 20px;
    font-weight: 100;
    margin-top: -69px;
    margin-bottom: 26px;
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 0px;

}

.bold_section {

    font-size: 32px; 
    font-weight: bold;
}



