<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Importing the css file ""-->
        <link rel="stylesheet" href="./css/about.css" > 
        <link rel="stylesheet" href="./css/home.css" > 

        <!-- Importing ajax-->
        <script src="./javascript/ajax-min.js"></script>
    <title>Home</title>
</head>
<body>
    <div class="navigator-div navigator" id="navigator-div">
        <div class="navigator-name" id="navigator-name">
            <a href="/" class="navigator-left"> Mbonu Chinedum </a>

            <div class="navigator-right" id="navigator-right" style="float: right">
                <a href="/api/projects" class="blog"> Projects </a>
                <a href="/about" class="about"> About </a>
                <a href="/api/portfolio" class="portfolio"> Portfolio </a>
                <a href="/api/contact" class="contact"> Contact </a>
            </div>
        </div>
    </div>

    <div>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Nisi, expedita minima? Veniam architecto nemo fuga nostrum 
            illum sequi inventore voluptatum cumque rerum 
            laudantium, ducimus vero ea esse ullam et ratione?</p>
    </div>
    

    <!-- Adding the last footer division-->
    <div class="last-privacy-footer">
        <a href="/api/legal" class="legal" id="legal"> Legal </a>
        <a href="#" class="privacyCenter" id="privacyCenter"> Privacy Center </a>
        <a href="#" class="privacyPolicy" id="privacyPolicy"> Privacy Policy </a>
        <a href="#" class="cookies" id="cookies"> Cookies </a> 
        <a href="/about" class="about-ads" id="about-ads"> About </a>
        <a href="#" class="additional-privacy" id="additional-privacy"> Additional CA Privacy Disclosures </a>
    </div>

    <!-- Adding javascript-->
    <script src="./javascript/home.js"></script>
</body>
</html>