<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Importing the css file ""-->
    <link rel="stylesheet" href="./css/about.css" > 
    
    <link rel="stylesheet" href="./css/home.css" > 
    <link rel="icon" href="./images/ico.png" type="image/png">

    <!-- Importing ajax-->
    <script src="./javascript/ajax-min.js"></script>
    <title>Home</title>
</head>
<body>
    <div class="navigator-div navigator" id="navigator-div">
        <div class="navigator-name" id="navigator-name">
            <div class="home_icon_div">
                <img class="home_icon_image" src="./images/home_icon.jpg" alt="" srcset="">
            </div>
    
            <a href="/" class="navigator-left"> Mbonu Chinedum </a>

            <div class="navigator-right" id="navigator-right" style="float: right">
                <a href="#" class="blog"> Projects </a>
                <a href="/about" class="about"> About </a>
                <a href="#" class="portfolio"> Portfolio </a>
                <a href="#" class="contact"> Contact </a>
            </div>
        </div>
    </div>

    <div class="main_div">

        <div class="home_div" id="home_div">
            
            <div>
                <p class="second_header"> 
                    <b>Web Developer, 
               
                        <img src="./images/home_icon.jpg" class="user_image" alt="user's image" id="user_image"> 
                 
                    <br> 
                    Tech Enthusiast, and <br> 
                    Content Creator. </b> 

                    <br> <br> <br> 
                   
                </p>
                <p class="second_header_para">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. <br> 
                    Perspiciatis delectus odit <br> 
                    recusandae autem inventore obcaecati corrupti aliquam dicta,<br> 
                     illo consectetur ipsam laudantium libero sint labore amet <br> 
                     veritatis perferendis, debitis rerum!
                </p>
    
    
                    
                 
                
            </div>
      
        
        </div>


        
    </div>


   

    

    <!-- Adding the last footer division-->
    <div class="last-privacy-footer">
        <a href="/api/legal" class="legal" id="legal"> Legal </a>
        <a href="#" class="privacyCenter" id="privacyCenter"> Privacy Center </a>
        <a href="#" class="privacyPolicy" id="privacyPolicy"> Privacy Policy </a>
        <a href="#" class="cookies" id="cookies"> Cookies </a> 
        <a href="/about" class="about-ads" id="about-ads"> About </a>
        <a href="#" class="additional-privacy" id="additional-privacy"> Additional CA Privacy Disclosures </a>
    </div>

    <!-- Adding javascript-->
    <script src="./javascript/home.js"></script>
</body>
</html>