<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Importing the css file ""-->
    <link rel="stylesheet" href="./css/index.css" > 

    <!-- Importing ajax-->
    <script src="./javascript/ajax-min.js"></script>

    <!-- Title -->
    <title>Home</title>
</head>
    <div class="navigator-div navigator" id="navigator-div">
        <div class="navigator-name" id="navigator-name">
            <a href="#" class="navigator-left"> Mbonu Chinedum </a>

            <div class="navigator-right" id="navigator-right" style="float: right">
                <a href="#" class="blog"> Blog </a>
                <a href="#" class="about"> About </a>
                <a href="#" class="portfolio"> Portfolio </a>
                <a href="#" class="contact"> Contact </a>
            </div>
        </div>
    </div>


    <div class="about-division" id="about-division">
        <h3> <b> <a href="#"> About </a> </b> </h3> 
        <p> Hey there, I'm Cole! I'm a passionate content creator and developer from buffalo, NY. FOr the past two years, i've been <br> 
        teaching myself to code and sharing my prograss with the world. I'm a huge tech (especially Apple) grrk, and love to <br> 
        talk about my favourite products. <br> 
        </p>
    </div>
    <!-- Adding the footer divison -->
    <div class="footer-div">
        <div class="web_developer footer" style="float: left;">
            <p>
                <h3> Web Developer </h3>
                Building beautiful, functional & <br> 
                responsive sites. I'm currently <br>
                focusing solely on the front-end <br> 
                <br> 
                <b> Languages </b> <br> 
                HTML, CSS, JavaScript, Nodejs <br> 

                <b> Tools & Framework </b> <br> 
                Vscode <br> 
                GitHub <br> 
                TailwindCss <br> 
            </p>
        </div>
        <div class="content_creator footer" style="float: left;">
            <p>
                <h3> Artificial Intelligence </h3>
                Building beautiful, functional & <br> 
                responsive sites. I'm currently <br>
                focusing solely on the front-end <br> 
                <br> 
                <b> Languages </b> <br> 
                HTML, CSS, JavaScript, Nodejs <br> 

                <b> Tools & Framework </b> <br> 
                Vscode <br> 
                GitHub <br> 
                TailwindCss <br> 
            </p>
        </div>
        <div class="ui_ux footer" style="float: left;">
            <p>
                <h3> System Adminstration </h3>
                Building beautiful, functional & <br> 
                responsive sites. I'm currently <br>
                focusing solely on the front-end <br> 
                <br> 
                <b> Languages </b> <br> 
                HTML, CSS, JavaScript, Nodejs <br> 

                <b> Tools & Framework </b> <br> 
                Vscode <br> 
                GitHub <br> 
                TailwindCss <br> 
            </p>
        </div>
    </div>

    <!-- Adding the last footer division-->
    <div class="last-privacy-footer">
        <a href="#" class="legal" id="legal"> Legal </a>
        <a href="#" class="privacyCenter" id="privacyCenter"> Privacy Center </a>
        <a href="#" class="privacyPolicy" id="privacyPolicy"> Privacy Policy </a>
        <a href="#" class="cookies" id="cookies"> Cookies </a> 
        <a href="#" class="about-ads" id="about-ads"> About Ads </a>
        <a href="#" class="additional-privacy" id="additional-privacy"> Additional CA Privacy Disclosures </a>
    </div>

<body>
    

    <!-- Importing javascript -->
    <script src="./javascript/index.js"></script>
</body>
</html>